body{margin:1em;padding:0;font:1em Droid Sans,sans-serif,Verdana,Arial,FreeSans;color:#272828;word-wrap:break-word}
a{text-decoration:underline;color:#272828}
a:hover{color:black}
p{padding:0;margin:0}
h2{font-size:1.4em;margin:0;color:#F80}
h2 a{font-size:.8em;text-decoration:none;color:#272828;font-weight:normal;display:inline-block;vertical-align:middle;max-width:95%}
h2 a:hover{text-decoration:underline}
ul{padding:0;margin:0 0 0 2.5em}
ul li{list-style-type:circle;margin:.2em 0 .2em 0}
ul li a{background:0}
p.info{font-size:.8em;margin-bottom:.5em;margin-left:1.5em}
p.info a{text-decoration:none;color:#272828;margin:0 .1em 0 .1em}
p.info a:hover{text-decoration:underline}
.commit{border-bottom:.3em dotted #e3e8e8;padding-bottom:.5em;overflow:hidden}
#pagination{height:1.5em;margin-top:.5em}
#pagination span.disabled{display:none}
#pagination span a{text-decoration:none;color:#272828}
#pagination span a:hover{text-decoration:underline}
#pagination span a.pagination-previous{float:left}
#pagination span a.pagination-next{float:right}
